@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

:root {
  /* Default Theme (Dark Mode) */
  --bg-gradient: linear-gradient(180deg, #0D1117, #1E1E2F);
  --bg-color: #080b15;
  /* --bg-color: #00134a; */
  /* --bg-color: #0D1117; */
  /* --bg-color: #030810; */
  /* --bg-color: #080b15; */
  --color-text: #EAEAEA;
  --color-text-grey: #A0A0A0;
  --color-navbar-bg: #00000000;
  --color-link: #FFFFFF;
  --color-link-hover-bg: #37373E;
  --color-button-primary: #6511FF;
  --color-button-hover: #7C27FF;
  --color-success: #00C853;
  --color-danger: #FF3B30;
  --color-accent-primary: rgb(101, 17, 255);
  --color-accent-secondary: #11FF65;
  --color-accent-light: rgb(188, 149, 250);
  --color-accent-light-soft: #E0E0E0;
  --color-hover-shadow: 101, 17, 255;
  --color-default-hover: #FFFFFF25;

  /* Default Margin, Padding & Spacing */
  --letter-spacing-s: 1px;
  --letter-spacing-m: 2px;

  /* Transitions */
  --transition-fast: background-color 0.2s ease, color 0.2s ease;
  --transition-smooth: background-color 0.5s ease, color 0.5s ease;
}

/* Responsive Design: Tablet - Desktop */
@media (min-width: 768px) and (max-width: 1023px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .hero button {
    font-size: 1.2rem;
  }

  .line-break {
    display: block;
  }
}

/* Responsive Design: Desktop */
@media (min-width: 1024px) {
  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero button {
    font-size: 1.5rem;
  }

  .line-break {
    display: none;
  }
}

/* Responsive Design: Mobile First */
/* body {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  transition: none;
} */

body {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--color-text);
  display: block; /* Changed from flex to block, since flex is not needed for body anymore */
  min-height: 100vh;
  transition: none;
}

.default-container {
  height: 100vh;
  width: 100%;
  max-width: 1200px; /* Optional: You can set a max-width if you want to limit the container width */
  margin: 0 auto; /* This centers the container horizontally */
  scroll-margin-top: 3rem;
  display: block; /* Ensures that sections are not forced to display as flex by default */
  padding: 20px; /* Optional: to add padding within the container */
}

body.theme-transition {
  transition: var(--transition-smooth);
}

body.light-mode {
  /* Light Mode Theme */
  --bg-gradient: linear-gradient(180deg, #F5F6FA, #E0E0E0);
  --bg-color: #f0f0f0;
  --color-text: #1F1F1F;
  --color-text-grey: #6B6B6B;
  --color-navbar-bg: #00000000;
  --color-link: #222222;
  --color-link-hover-bg: #E0E0E0;
  --color-button-primary: #6511FF;
  --color-button-hover: #7C27FF;
  --color-success: #00C853;
  --color-success-hover: #005b26;
  --color-danger: #FF3B30;
}

html {
  scroll-padding-top: 5rem;
}

/* .default-container {
  height: 100vh;
  width: 100%;
  scroll-margin-top: 3rem;
} */

.line-break {
  display: none;
}

.logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.shimmer {
  color: grey;
  display: inline-block;
  mask: linear-gradient(45deg, #000 35%, #0005, #000 65%) right / 330% 200%;
  animation: shimmer 3s linear infinite;
}

.static {
  cursor: auto;
  animation: none;
}

@keyframes shimmer {
  0% {
    mask-position: right;
  }
  100% {
    mask-position: left;
  }
}