@media (min-width: 1400px) {
  .col-xxl-2 {
    width: 15%;
  }

  .col-xxl-10 {
    width: 85%;
  }
}

@media (min-width: 1800px) {
  .col-xxxl-1 {
    width: 10%;
  }

  .col-xxxl-11 {
    width: 90%;
  }
}

.dashboard {
  font-family: Consolas;
}

.navbar-brand,
.offcanvas,
.offcanvas-header,
.offcanvas-title {
  font-family: "Consolas";
  letter-spacing: var(--default-letter-spacing);
}

.offcanvas {
  max-width: 250px;
}

.offcanvas-header {
  padding: 1rem 1rem 0 1rem;
  background-color: var(--color-link-hover-bg);
}

.offcanvas-header .btn-close {
  margin-right: 0;
}

.offcanvas-start {
  width: 250px;
}

.sidebar {
  background-color: var(--color-link-hover-bg);
  color: white;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  min-height: 100vh;
}

.sidebar h3 {
  color: white;
  margin-bottom: 2rem;
}

.sidebar a {
  font-size: 0.85rem;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  margin-bottom: 0.5rem;
  transition: var(--transition-fast);
}

.sidebar a:hover,
.sidebar a.active {
  background-color: rgb(87, 87, 87);
  color: white;
}

.sandwich-icon {
  border: none;
  color: white;
}

.dashboard-header {
  font-family: 'Orbitron';
  letter-spacing: var(--default-letter-spacing);
}