.home .badge {
  font-size: 12px;
  letter-spacing: var(--letter-spacing-s);
}

.rounded-table {
  border-radius: 1rem;
  overflow: hidden;
}

.rounded-table thead {
  font-family: 'Orbitron';
  font-size: 0.75rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  letter-spacing: var(--letter-spacing-s);
}
