.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

.hero-content {
  max-width: 100%;
  padding: 1rem;
  color: var(--color-text);
}

.hero,
.hero-content {
  width: 100%;
  transition: var(--transition-smooth);
}

.hero h1 {
  font-family: 'Orbitron';
  letter-spacing: var(--letter-spacing-s);
  margin: 1rem 0;
}
