.pricing .card-title {
  font-family: 'Orbitron';
  font-size: 22px;
  letter-spacing: var(--letter-spacing-s);
}

.pricing .card-text {
  font-family: 'Consolas';
  font-size: 18px;
  font-weight: bold;
  letter-spacing: var(--letter-spacing-s);
}

.pricing .card-subtext {
  font-size: 12px;
}

.pricing .custom-card.hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(var(--color-hover-shadow), 0.5);
}

.pricing .custom-button {
  font-family: 'Consolas';
  letter-spacing: var(--letter-spacing-s);
}