.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-card {
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  transition: box-shadow 0.3s ease;
}

.form-card:focus-within {
  box-shadow: 0 10px 20px rgba(var(--color-hover-shadow), 0.5);
}

.form-card-title {
  font-family: 'Orbitron';
  font-size: var(--font-size-s);
  margin-bottom: 1.5rem;
  letter-spacing: var(--letter-spacing-s);
}

.form-input {
  font-family: 'Roboto Light';
  width: 100%;
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: white;
}

.form-input:focus {
  border: 1px solid var(--color-accent-primary);
  outline: none;
  box-shadow: none;
}

.form-input.error {
  border: 1px solid var(--color-danger);
}

.form-label {
  font-family: 'Orbitron';
  font-size: 12px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  letter-spacing: var(--letter-spacing-s);
}

.form-select {
  font-size: var(--font-size-s);
}

.form-select:focus {
  border-color: var(--color-accent-primary);
  box-shadow: none;
}

.input-group-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 1rem;
  font-size: 1.2rem;
}

.input-group-text {
  background-color: #dfdfdf;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-append {
  display: flex;
  align-items: center;
}

.text-link {
  text-decoration: none;
  color: var(--color-accent-primary);
}

.text-link:hover {
  color: var(--color-accent-primary);
  text-decoration: underline;
}
