.transaction-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.transaction-card {
  background: white;
  padding: 1.5rem;
  border-radius: var(--br-card);
  width: 100%;
  max-width: 400px;
}

.transaction-card .card-title {
  font-family: "Orbitron";
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: var(--letter-spacing-m);
}

.transaction-card .card-text {
  font-family: "Orbitron";
  font-size: var(--font-size-xs);
  white-space: nowrap;
  letter-spacing: var(--letter-spacing-s);
}

.transaction-card > .list-group {
  border: none;
  border-radius: var(--br-s);
}

.transaction-card > .list-group > .list-group-item-action {
  transition: var(--transition-fast);
}

.transaction-card > .list-group > .list-group-item-action:not(.active):hover {
  background-color: lightgray;
}

.form-select {
  border-radius: var(--br-card);
}
